.menu::-webkit-scrollbar {
  background-color: white;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

.menu {
  width: 400px;
  height: 600px;
  padding: 20px;
  margin: 20px;
  overflow-y: scroll;
  /* Titles / Normal / T16  */

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 125% */


  /* Dark */

  color: #060F42;


  @media screen and (max-width:1620px) {
    width: 250px;
  }


}

@media screen and (max-width:1230px) {

  .menu,
  ul {
    display: none;
  }
}