.box {
  width: 1064px;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 24px;
  color: black;
  border-radius: 8px;
  z-index: 12;
  transition: 0.4s ease-out;

  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width:1100px) {
    width: 800px;
  }

  @media screen and (max-width:850px) {
    width: 600px;
  }

  @media screen and (max-width:620px) {
    width: 400px;
  }

  @media screen and (max-width:420px) {
    width: 300px;
  }

  h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    /* Dark */

    color: #060F42;
  }

  h4 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-top: 30px;
    color: #01579B;

  }
}

.bigBox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 23;
  width: 100%;
  height: 100vh;
}