.header {
  background-image: linear-gradient(to bottom, #060F42 0 50%, white 31% 100%);
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__top_list {
  display: flex;
  gap: 10px;
}

.ham>span {
  display: none;
  margin: 5px;
  border-radius: 10px;
  height: 3px;
  width: 30px;
  background-color: #fff;
}

.header__top_item {

  a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #F4F8FB;
  }
}

.header__top_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #F4F8FB;
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__botom_item {
  button {
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5px;
  }
}

.heaer__bottom_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__botom_item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}

.check {
  display: none;
}

.inp {
  display: block;
}

.inp_none {
  display: none;
}

.checbox {
  display: none;
}

.header__top_list2{
  display: none;
}

.heaer__bottom_list2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.box {
  display: block;
  position: absolute;
  top: 0;
  left: -400px;
  transition: 0.4s;
  padding: 20px;
  border-end-end-radius: 10px;
}
.search {
  display: none;
}

@media (max-width: 510px) {
  .ham>span {
    display: block;
    margin: 5px;
    border-radius: 10px;
    height: 3px;
    width: 30px;
    background-color: #fff;
  }

  .header__top_list2{
    display: flex;
  }

  .header__top_list {
    display: none;
  }

  .header__top {
    position: relative;
  }

  .box {
    display: block;
    position: absolute;
    top: 0;
    left: -1000px;
    transition: 0.4s;
    background-color: rgb(58, 51, 97);
    padding: 20px;
    border-end-end-radius: 10px;
  }

  .checbox:checked + .box {

      display: block;
      background: #ccc;
      position: absolute;
      top: 0;
      left:50px;
      z-index: 10;
  }
}

@media (max-width: 770px) {
  .heaer__bottom_list {
    display: none;
  }

  .header__bottom {
    margin-top: 50px;
  }

  .header__top_list2{
    display: block;
  }
}