.news {
  margin-top: 50px;
}

.news__inner {
  h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #333333;
  }
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.news__item {
  width: 250px;

  img {
    width: 100%;
  }

  h5 {
    margin: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #060F42;
  }

  p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
}